@model IEnumerable<WebApplication3.Genres>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Создать", "Create", "Genre")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
        <td scope="row">@Html.ActionLink("Edit author", "Edit", "Genre", new { id = @item.Id }, null)</td>
        <td scope="row">@Html.ActionLink("Delete author", "Delete", "Genre", new { id = @item.Id }, null)</td>

        </td>
    </tr>
}

</table>
